@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li><a href="/GuncelHaberler">Güncel Haberler</a></li>
            <li><a href="/SporHaberleri">Spor Haberleri</a></li>
            <li><a href="/HavaDurumu">Hava Durumu</a></li>
        </ul>
    </div>
</div>
